<ion-header>
  <ion-toolbar>
    <ion-title>QR Code App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Geração de QR Code -->
  <h2>Gerar QR Code</h2>
  <canvas #canvas></canvas>

  <ion-item>
    <ion-label position="floating">Digite algo</ion-label>
    <ion-input [(ngModel)]="qrData" (ionChange)="onInputChange()"></ion-input>
  </ion-item>

  <hr />

  <!-- Leitura de QR Code -->
  <h2>Ler QR Code</h2>
  <zxing-scanner
    (scanSuccess)="handleQrCodeResult($event)">
  </zxing-scanner>

  <p>Resultado: {{ scannedResult }}</p>

</ion-content>
